version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: monday
      time: "12:00"
      timezone: Europe/London
    labels:
      - dependencies
      - github_actions
    target-branch: "master"
    cooldown:
      default-days: 7

  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "weekly"
      day: monday
      time: "12:00"
      timezone: Europe/London
    # Assignees can't be a team unfortunately
    reviewers:
      - "mention-me/backend"
    labels:
      - dependencies
      - composer
    target-branch: "master"
    cooldown:
      default-days: 7
